* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn-purple {
  background: #b61984;
  border: 1px solid #b61984;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-purple:hover {
  background: #ffffff;
  border: 1px solid #b61984;
  color: #b61984;
  border-radius: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-white {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #181818;
  border-radius: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-white:hover {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header {
  -webkit-transition: all .6s;
  transition: all .6s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header.header__sticky {
  background-color: #ffffff;
  position: fixed;
}

header.header__sticky .navbar {
  max-height: 50px;
}

header.header__sticky .navbar .nav-item.myActive::after {
  bottom: 8px;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar .navbar-toggler {
  background-color: rgba(219, 208, 242, 0.5);
}

header .navbar .navbar-toggler .navbar-toggler-icon {
  color: #181818;
  height: 100%;
  line-height: 100%;
  margin: 5px 0;
  font-size: 24px;
}

header .navbar .navbar-brand {
  padding: 0;
}

header .navbar .nav-item {
  margin-right: 30px;
  padding: 20px 0;
}

header .navbar .nav-item a {
  font-size: 13px;
  font-weight: 600;
  color: #181818;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .navbar .nav-item a:hover {
  color: #b61984;
}

header .navbar .nav-item.myActive {
  position: relative;
}

header .navbar .nav-item.myActive::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #b61984;
  border-radius: 50%;
}

header .navbar .navbar__btn {
  padding: 10px 15px;
  margin-right: 15px;
  font-size: 13px;
  font-weight: 500;
}

header .navbar .navbar__icon a {
  color: #181818;
  font-size: 13px;
  margin-right: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .navbar .navbar__icon a:hover {
  color: #b61984;
}

@media screen and (max-width: 1200px) {
  header {
    background-color: #ffffff;
    position: fixed;
  }
  header .navbar {
    max-height: 50px;
  }
  header .navbar .navbar-toggler {
    background: transparent;
  }
  header .navbar .navbar-brand img {
    display: block;
    max-height: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .navbar #myNavbar {
    background-color: #ffffff;
    text-align: center;
  }
}

.about {
  background-image: url(../img/yellow_top_wave_01.png);
  background-size: contain;
  background-position: initial;
  background-repeat: no-repeat;
  height: 700px;
}

@media screen and (max-width: 1200px) {
  .about {
    margin-top: 50px;
    height: 500px;
  }
}

@media screen and (max-width: 992px) {
  .about {
    height: 700px;
    padding-top: 60px;
  }
}

.about__bg--bottom {
  background-image: url(../img/Violet_top_left_wave.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.about__bg--bottom .container {
  height: 100%;
}

.about__bg--bottom .container .row {
  height: 100%;
}

.about__bg--bottom .container .row .about__title p {
  font-size: 18px;
  font-weight: 600;
  color: #b61984;
}

.about__bg--bottom .container .row .about__title h1 {
  font-size: 60px;
  font-weight: 700;
  color: #181818;
}

@media screen and (max-width: 1200px) {
  .about__bg--bottom .container .row .about__title h1 {
    font-size: 48px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .about__bg--bottom .container .row img {
    max-width: 100%;
  }
}

.staff {
  background-color: #dbd0f2;
  padding-top: 30px;
  background-image: url(../img/Wave_White_bottom_right_shape_01.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.staff .row {
  gap: 30px 0;
}

.staff .row .staff__card {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.staff .row .staff__card:hover {
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.staff .row .staff__card .staff__img {
  overflow: hidden;
}

.staff .row .staff__card .staff__img img {
  display: block;
  width: 100%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.staff .row .staff__card .staff__img:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.staff .row .staff__card .staff__info {
  text-align: center;
  padding: 15px;
}

.staff .row .staff__card .staff__info .staff__country {
  font-size: 11px;
  font-weight: 600;
  color: #b61984;
  margin-bottom: 5px;
}

.staff .row .staff__card .staff__info .staff__name {
  font-size: 24px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 15px;
}

.staff .row .staff__card .staff__info .staff__quote {
  font-size: 13px;
  font-weight: 400;
  color: #181818;
}

.find {
  padding: 100px 0 30px;
  background-image: url(../img/accent_bottom_wave_01.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.find .find__img {
  padding-left: 80px;
}

.find .find__img img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.find .find__form {
  padding: 0 25px 50px;
  -webkit-box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  height: 100%;
  border-radius: 0 0 15px 15px;
  background-color: #fff;
}

.find .find__form form {
  width: 100%;
}

.find .find__form form h2 {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 50px;
}

.find .find__form form .row {
  gap: 15px 0;
  margin-bottom: 40px;
}

.find .find__form form .row .find__input {
  padding: 10px;
  border: 1px solid #dbd0f2;
  border-radius: 20px;
  gap: 0 10px;
}

.find .find__form form .row .find__input span {
  line-height: 1;
}

.find .find__form form .row .find__input span.find__type {
  display: inline-block;
  width: 100%;
}

.find .find__form form .row .find__input span i {
  color: #b61984;
}

.find .find__form form .row .find__input span input, .find .find__form form .row .find__input span select, .find .find__form form .row .find__input span textarea {
  font-size: 13px;
  font-weight: 500;
  color: #181818;
  display: block;
  width: 100%;
  line-height: 1;
  border: none;
}

.find .find__form form .row .find__input span input:focus, .find .find__form form .row .find__input span select:focus, .find .find__form form .row .find__input span textarea:focus {
  outline: none;
}

.find .find__form form button {
  font-size: 12px;
  font-weight: 700;
  padding: 10px 50px;
}

@media screen and (max-width: 992px) {
  .find .container .row {
    gap: 50px 0;
  }
  .find .container .row .find__img img {
    max-width: 100%;
  }
}

footer {
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 220px;
}

footer .row {
  gap: 50px;
}

@media screen and (max-width: 992px) {
  footer .row {
    gap: 50px 0;
  }
}

footer .row .footer__list h3 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

footer .row .footer__list.footer__contact {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}

footer .row .footer__list.footer__contact i {
  margin-right: 5px;
}

footer .row .footer__list.footer__contact a {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}

footer .row .footer__list.footer__contact .footer__icon {
  margin-top: 25px;
}

footer .row .footer__list.footer__contact .footer__icon i {
  margin-right: 10px;
}

footer .row .footer__list.footer__link li, footer .row .footer__list.footer__about li {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

footer .row .footer__list.footer__link li a, footer .row .footer__list.footer__about li a {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all .6s;
  transition: all .6s;
}

footer .row .footer__list.footer__link li a:hover, footer .row .footer__list.footer__about li a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer .row .footer__list.footer__news .footer__mail, footer .row .footer__list.footer__news .footer__submit {
  margin-bottom: 5px;
}

footer .row .footer__list.footer__news .footer__mail input, footer .row .footer__list.footer__news .footer__submit input {
  padding: 15px 10px;
  text-align: center;
  width: 100%;
}

footer .row .footer__list.footer__news .footer__mail input:focus, footer .row .footer__list.footer__news .footer__submit input:focus {
  outline: none;
}

footer .row .footer__list.footer__news .footer__mail input {
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  color: #181818;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: all .6s;
  transition: all .6s;
}

footer .row .footer__list.footer__news .footer__mail input::-webkit-input-placeholder {
  color: #ffffff;
}

footer .row .footer__list.footer__news .footer__mail input:-ms-input-placeholder {
  color: #ffffff;
}

footer .row .footer__list.footer__news .footer__mail input::-ms-input-placeholder {
  color: #ffffff;
}

footer .row .footer__list.footer__news .footer__mail input::placeholder {
  color: #ffffff;
}

footer .row .footer__list.footer__news .footer__mail input:focus {
  border: 1px solid #ffffff;
}

footer .row .footer__list.footer__news .footer__submit input {
  font-size: 13px;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */