footer {
    background-image: url(../img/footer_background.jpg);
    @include styleBackground(cover, center, no-repeat);
    padding: 100px 0 220px;
    .row {
        gap: 50px;
        @include mediaQuerry("large") {
            gap: 50px 0;
        }
        .footer__list {
            h3 {
                @include styleTxt($fz-3, $fw-5, $color-white);
                margin-bottom: 30px;
            }
            &.footer__contact {
                @include styleTxt($fz-1, $fw-3, $color-white);
                i {
                    margin-right: 5px;
                }
                a {
                    @include styleTxt($fz-1, $fw-3, $color-white);
                }
                .footer__icon {
                    margin-top: 25px;
                    i {
                        margin-right: 10px;
                    }
                }
            }
            &.footer__link, &.footer__about {
                li {
                    padding-bottom: 5px;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    margin-bottom: 5px;
                    a {
                        @include styleTxt($fz-1, $fw-4, $color-white);
                        transition: all .6s;
                        &:hover {
                            color: rgba($color: $color-white, $alpha: .5);
                            text-decoration: none;
                        }
                    }
                }
            }
            &.footer__news {
                .footer__mail, .footer__submit {
                    margin-bottom: 5px;
                    input {
                        padding: 15px 10px;
                        text-align: center;
                        width: 100%;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .footer__mail {
                    input {
                        border-radius: 50px;
                        @include styleTxt($fz-1, $fw-4, $color-black);
                        background: transparent;
                        border: 1px solid rgba($color: $color-white, $alpha: .1);
                        color: $color-white;
                        transition: all .6s;
                        &::placeholder {
                            color: $color-white;
                        }
                        &:focus{
                            border: 1px solid $color-white;
                        }
                    }
                }
                .footer__submit {
                    input {
                        font-size: $fz-1;
                        font-weight: $fw-4;
                    }
                }
            }
        }
    }
}